@media screen and (max-width: 932px){
  .imagee{
    /* background-image: url("/img/3047867.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: right;
}
}

.imagee{
    background-image: url("/img/3047867.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: right;
}
.smm{
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.lkl{
    list-style: disc;
}
.swiper {
  width: 100%;
  height: 100%;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  /* background: #444; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-pagination {
  bottom: 10px;
  text-align: center;
  background-color: white;
}

